/* landing page styles */

.landing-container,
.logo-form1 {
    display: flex;
    flex-direction: column;
}

.landing-container {
    justify-content: space-between;
    height: 100vh;
}

.logo-form1 {
    height: 80vh;
    align-items: center;
    justify-content: center;
}