/* Comment styles */

.comment-container {
    border-bottom: 5px solid var(--dark-blue);
    min-height: 100px;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    transition: all ease-in-out 0.3s;
    display: flex;
}


