/* Article styles */

.article-comments-container {
    padding: 50px 200px;
    min-height: 100vh;
}

.article-title-sub {
    border-bottom: 3px solid var(--dark-blue);
}

/* Queries */

/* Mobile */
@media screen and (max-width: 375px) {
    .article-comments-container {
        padding: 20px 10px;
    }
}

@media screen and (min-width: 376px) and (max-width: 450px) {
    .article-comments-container {
        padding: 30px 40px;
    }
}

/* small tablet */
@media screen and (min-width: 451px) and (max-width: 700px) {
    .article-comments-container {
        padding: 50px 100px;
    }
}

/* medium tablet */
@media screen and (min-width: 701px) and (max-width: 1000px) {
    .article-comments-container {
        padding: 75px 125px;
    }
}