/* Create article/ edit article styles */

.create-edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.form-header { 
    font-size: 3rem;
}

.delete-article {
    background-color: red;
    color: white;
    outline: none;
    padding: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}