.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 375px;
    height: 350px;
    background: #f1f1f1;
    margin: 50px auto 0;
    word-break: break-all;
    /* border: 1px solid rgba(0, 0, 0, 0.274); */
    border-bottom: 5px solid var(--dark-blue);
}

.bloc-tabs {
    display: flex;
}

.tabs {
    padding: 15px;
    text-align: center;
    width: 50%;
    background: rgba(128, 128, 128, 0.075);
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    position: relative;
    outline: none;
}
.tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
}

.active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: var(--dark-blue);
}

.container button {
    border: none;
}

.container button:enabled {
    cursor: pointer;
}

.container button[type='submit'] {
    padding: 10px;
    color: white;
    background-color: var(--dark-blue);
}

.content-tabs {
    flex-grow : 1;
}

.content {
    background: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: none;
}

.content h2 {
    padding: 0px 0 5px 0px;
}

.content hr {
    width: 100px;
    height: 2px;
    background: #222;
    margin-bottom: 5px;
}

.content p {
    width: 100%;
    height: 100%;
}

.active-content {
    display: flex;
    justify-content: center;
}

.content form {
    display: flex;
    flex-direction: column;
    width: 225px;
    align-items: flex-end;
    justify-content: space-around;
}

.content form input {
    width: 100%;
    outline: none;
    border: none;
    background-color: lightgrey;
    height: 30px;
    padding: 10px;
}

/* Media queries */

/* Mobile */
@media screen and (max-width: 320px) {
    .container {
        width: 300px;
    }
}

@media screen and (min-width: 321px) and (max-width: 400px) {
    .container {
        width: 340px;
    }
}