/* Article styles */

.article-link {
    color: black;
    text-decoration: none;
}

.preview-container,
.preview-profile,
.preview-profile div,
.article-info,
.date {
    display: flex;
}

.preview-profile,
.preview-profile div,
.date,
.article-info {
    align-items: center;
    justify-content: center;
}

.preview-container {
    border-bottom: 5px solid var(--dark-blue);
    width: 425px;
    height: 100px;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    transition: all ease-in-out 0.3s;
    text-align: center;
}

.preview-container:hover {
    background-color: lightgray;
}

.preview-profile,
.article-info {
    flex-direction: column;
}

.preview-profile div{
    background-color: lightgray;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
}

/* Media queries */

/* Mobile */
@media screen and (max-width: 320px) {
    .preview-container {
        width: 290px;
        min-height: 110px;
        overflow: hidden;
    }
}

@media screen and (min-width: 321px) and (max-width: 450px) {
    .preview-container {
        width: 325px;
    }
}