/* All articles page design */

.search-results-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form-results-container {
    height: fit-content;
    width: auto;
}